body{
    background-image: url(https://wallpaperaccess.com/full/1696135.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    flex-wrap: wrap;
}

body:not(nav):not(ul){
    backdrop-filter: brightness(60%);
}

.mountains {
    text-decoration: none;
color: white;
}
.mountains:hover {
    color: #38FFD4;
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    font-family: 'Poppins', sans-serif;
    background-color: rgba(0, 0, 0, 0.282);
}
.logo{
    color: white;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 25px;
    margin-top: 15px;
}
.nav-links{
    display: flex;
    justify-content: end;
    width: 40%;
    list-style-type: none;
    margin-top: 15px;
}
.nav-links a{
    color: white;
    font-size: 45px;
    text-transform: uppercase;
}
.nav-links {
    display: flex;
    justify-content: end;
    width: 40%;
    list-style-type: none;
}
.nav-links li {
    position: relative;
    margin-left: 20px;
}
.nav-links a {
    color: white;
    font-size: 25px;
    text-transform: uppercase;
    text-decoration: none;
    transition: background-color 0.3s; /* smooth transition for hover effect */
}
.nav-links a:hover {
    /* background-color: rgba(255, 255, 255, 0.1); subtle hover effect */
    color: #38FFD4;
}
/* Dropdown styles */
.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #444;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 0 0 10px 10px;
}
.dropdown-content a {
    padding: 10px 15px;
    display: block;
    color: white;
    text-decoration: none;
}
.dropdown-content a:hover {
    background-color: #808080;
    color: white;
}
.nav-links .dropdown:hover .dropdown-content {
    display: block;
}
.dropbtn:hover{
    color: #38FFD4;
}
.list-group div {
    font-family: 'Poppins', sans-serif;
    background-color: rgba(0, 0, 0, 0.282);
    color: white;            
    margin-top: 23px;
    margin-left: 20px;
    list-style: none;
    margin-right: 20px;
}